@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  overflow: hidden;
}

.content {
  min-height: 100%;
}

.conteiner {
  min-height: 100%;
  padding: 0 20px;
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  line-height: 47px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #7b6c63;
  text-align: center;
}

.description {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #212121;
}

.line__horizontal {
  width: 76px;
  height: 6px;
  background-color: #7b6c63;
}

.mobile__menu {
  display: none;
}

.mobile__row a {
  color: black;
}

.head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #303030;
  opacity: 0.7;
  z-index: 5;
}

.head__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95px;
}

.nav__row a {
  font-size: 12.1px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin: 0px 20px 0px 0px;
  padding: 0px 0px 10px 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav__row a:last-child {
  margin: 0px 0px 0px 0px;
}

.nav__row a:hover {
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: #7b6c63;
}

@media screen and (max-width: 768px) {
  .head {
    position: static;
  }
  .head__nav {
    display: none;
  }
  .mobile__menu {
    padding: 10px 0 0 40px;
  }
  .mobile__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile__row a {
    font-size: 30px;
    line-height: 50px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
}

.head__burger {
  display: none;
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
  top: 5px;
}

.head__burger span.active {
  background: #f000;
}

.head__burger span,
.head__burger span::before,
.head__burger span::after {
  display: block;
  background-color: #ffffff;
  width: 55px;
  height: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.head__burger span::before,
.head__burger span::after {
  content: "";
  position: relative;
}

.head__burger span::before {
  top: -15px;
}

.head__burger span::before:active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.head__burger span::after {
  top: 12px;
}

.head__burger span.active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -2px;
}

.head__burger span.active::before {
  top: 0px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .head__burger {
    display: block;
    margin: 10px 25px 0px 0px;
  }
}

.home {
  min-height: 100vh;
  background-size: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/Mairala/img/picture/Home/rectangle_1_copy_3772.png") center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%), url("/Mairala/img/picture/Home/rectangle_1_copy_3772.png") center/cover no-repeat;
  color: #ffffff;
}

.home__conteiner {
  min-height: 100vh;
  padding: 40px 10px;
}

.home__row {
  margin: 80px 0px 0px 0px;
  max-width: 870px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1s;
  transition: 1s;
}

.home__row div:nth-child(odd) {
  -webkit-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  opacity: 0;
}

.home__row div:nth-child(odd).active {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.home__row div:nth-child(even) {
  -webkit-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  opacity: 0;
}

.home__row div:nth-child(even).active {
  -webkit-transition: 3s;
  transition: 3s;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.home__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__subtitle {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0px 0px 20px 0px;
}

.home__title {
  font-size: 66px;
  line-height: 75px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin: 0px 0px 65px 0px;
}

.home__title span {
  font-weight: 600;
  color: #ffffff;
}

.home__title span.active {
  -webkit-transition: 3s;
  transition: 3s;
  color: #7b6c63;
}

.home__btn {
  width: 264px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.home__btn a {
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.home__btn:hover {
  -webkit-box-shadow: inset 0px 0px 45px 10px #bababa;
          box-shadow: inset 0px 0px 45px 10px #bababa;
}

.home__btn:active {
  position: relative;
  top: -2px;
}

.arrow__conteiner {
  margin: 10px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow {
  position: relative;
  width: 60px;
  height: 60px;
  border: solid #ffff 2px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-animation: arr 1s;
          animation: arr 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  animation-direction: alternate-reverse;
}

.arrow:hover {
  width: 65px;
  height: 65px;
  -webkit-box-shadow: 0px 0px 15px 4px #d6d4c2;
          box-shadow: 0px 0px 15px 4px #d6d4c2;
}

.arrow span a {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 5;
}

.arrow span::before, .arrow span::after {
  position: relative;
  display: block;
  background-color: #ffffff;
  width: 31px;
  height: 3px;
  content: "";
}

.arrow span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 4px;
  top: 32px;
}

.arrow span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 25px;
  top: -31px;
}

@-webkit-keyframes arr {
  0% {
    top: 0px;
  }
  100% {
    top: 35px;
    -webkit-box-shadow: 0px 0px 15px 4px #d6d4c2;
            box-shadow: 0px 0px 15px 4px #d6d4c2;
  }
}

@keyframes arr {
  0% {
    top: 0px;
  }
  100% {
    top: 35px;
    -webkit-box-shadow: 0px 0px 15px 4px #d6d4c2;
            box-shadow: 0px 0px 15px 4px #d6d4c2;
  }
}

@media screen and (max-width: 992px) {
  .home__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__title {
    text-align: center;
    font-size: 56px;
    line-height: 55px;
  }
}

@media screen and (max-width: 768px) {
  .home__title {
    font-size: 46px;
    line-height: 45px;
  }
  .home__row {
    margin: 30px 0px 0px 0px;
  }
}

@media screen and (max-width: 576px) {
  .home {
    min-height: auto;
  }
  .home__row {
    margin: 0px 0px 0px 0px;
  }
  .home__conteiner {
    min-height: auto;
  }
  .home__title {
    font-size: 36px;
    line-height: 35px;
  }
}

.about {
  padding: 90px 0 0 0;
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.img__line {
  margin: 40px 0px;
}

.about__description {
  max-width: 450px;
  margin: 0px 0px 80px 0px;
}

.about__content {
  padding: 50px 0;
  background-color: #f5f5f5;
  background-image: url("/Mairala/img/picture/about/rectangle_5_copy_3_7065.png");
  background-position: right;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.about__left {
  position: relative;
  z-index: 2;
  max-width: 590px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__subtitle {
  margin: 0px 0px 35px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #7b6c63;
  opacity: 0;
  -webkit-transform: translate3d(50px, 50%, 13em);
          transform: translate3d(50px, 50%, 13em);
}

.about__subtitle.active {
  -webkit-transition: 2s;
  transition: 2s;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.about__left-text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000000;
  opacity: 0.3;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

.about__left-text p {
  margin: 0px 0px 30px 0px;
}

.about__left-text.active {
  -webkit-transition: 2s;
  transition: 2s;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.about__btn {
  width: 169px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #000000;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.about__btn:hover {
  -webkit-box-shadow: inset 0px 0px 45px 10px #bababa;
          box-shadow: inset 0px 0px 45px 10px #bababa;
}

.about__btn:active {
  position: relative;
  top: -2px;
}

@media screen and (max-width: 992px) {
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: none;
  }
  .about__left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 40px 0 0 0;
  }
  .about__title {
    font-size: 46px;
    line-height: 45px;
  }
  .img__line {
    margin: 20px 0px;
  }
  .about__content {
    padding: 40px 0;
  }
  .about__description {
    margin: 0px 0px 40px 0px;
  }
}

@media screen and (max-width: 576px) {
  .about__left-text p:last-child {
    display: none;
  }
  .about__title {
    font-size: 36px;
    line-height: 55px;
  }
}

.services__about {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__about .services__title {
  font-size: 24px;
  line-height: 30px;
  margin: 90px 0px 0px 0px;
}

.services__about .services__description {
  font-size: 16px;
  color: #000000;
  margin: 25px 0px 0px 0px;
  max-width: 995px;
}

.services__row {
  margin: 65px 0px 80px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 340px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.services__card .card__logo {
  margin: 0px 0px 30px 0px;
}

.services__card .card__title {
  margin: 0px 0px 20px 0px;
  font-size: 18px;
  line-height: 29px;
  text-transform: uppercase;
  color: #363636;
}

.services__card .card__description {
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  color: #949494;
}

.services__skill {
  padding: 100px 0 80px 0;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/Mairala/img/picture/services/rectangle_53_copy_2_8154.png") center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%), url("/Mairala/img/picture/services/rectangle_53_copy_2_8154.png") center/cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.services__skill.active {
  -webkit-animation: scale-background 3s linear;
          animation: scale-background 3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes scale-background {
  0% {
    background-position: right;
  }
  100% {
    background-position: center;
  }
}

@keyframes scale-background {
  0% {
    background-position: right;
  }
  100% {
    background-position: center;
  }
}

.skill__title {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.skill__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0px 0px 0px;
}

.skill__card {
  text-align: center;
}

.skill-card__circle {
  width: 169px;
  height: 169px;
  border: solid #7b6c63 3px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-card__scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 152px;
  height: 152px;
  background-image: url("/Mairala/img/icon/services/shape_17_copy_8430.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.skill-card__scale span {
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.skill-card__scale.active {
  -webkit-animation: scale 3s linear;
          animation: scale 3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes scale {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 45%;
  }
}

@keyframes scale {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 45%;
  }
}

.skill-card__subtitle {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .skill__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skill__row .skill__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .services__about .services__title {
    margin: 40px 0px 0px 0px;
  }
  .services__about .services__description {
    margin: 20px 0px 0px 0px;
  }
  .services__row {
    margin: 25px 0px 25px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__card {
    margin: 10px 0px 10px 0px;
  }
  .services__card .card__logo {
    margin: 0px 0px 10px 0px;
  }
  .services__card .card__title {
    margin: 0px 0px 10px 0px;
  }
  .services__skill {
    padding: 40px 0 40px 0;
  }
}

@media screen and (max-width: 576px) {
  .skill-card__circle {
    width: 100px;
    height: 100px;
  }
  .skill-card__circle .skill-card__scale span {
    font-size: 15px;
    line-height: 20px;
  }
}

.portfolio__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__head .portfolio__title {
  margin: 80px 0px 0px 0px;
}

.portfolio__head .portfolio__line {
  margin: 40px 0px;
  text-align: center;
}

.portfolio__head .portfolio-head__description {
  margin: 0px 0px 80px 0px;
  text-align: center;
  max-width: 470px;
}

.img__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__img {
  min-height: auto;
  padding: 10px 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portfolio__img.active {
  -webkit-animation: portfimg 1s linear;
          animation: portfimg 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes portfimg {
  0% {
    background-position: left;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    background-position: center;
  }
}

@keyframes portfimg {
  0% {
    background-position: left;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    background-position: center;
  }
}

.portfolio-img__hover {
  padding: 30% 0;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.portfolio-img__hover:hover {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.img-hover__title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
}

.img-hover__line {
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 0px 0px 20px 0px;
}

.img-hover__descriprion {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2em;
}

.portfolio__text {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 396px;
  background-color: #1a1a1a;
  line-height: 47px;
  letter-spacing: 0.05em;
}

.portfolio__text .portfolio__subtitle {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.portfolio__text .portfolio__description {
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 10px 0px;
}

.portfolio-btn__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__btn {
  margin: 90px 0px 90px 0px;
  width: 174px;
  height: 53px;
  border: 2px solid #000000;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 16px;
  line-height: 47px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #000000;
  border-radius: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.portfolio__btn:hover {
  -webkit-box-shadow: inset 0px 0px 45px 10px #bababa;
          box-shadow: inset 0px 0px 45px 10px #bababa;
}

.portfolio__btn:active {
  position: relative;
  top: -2px;
}

@media screen and (max-width: 768px) {
  .portfolio__head .portfolio__title {
    margin: 40px 0px 0px 0px;
  }
  .portfolio__head .portfolio__line {
    margin: 20px 0px;
    text-align: center;
  }
  .portfolio__head .portfolio-head__description {
    margin: 0px 0px 20px 0px;
  }
  .portfolio-img__hover {
    padding: 20% 0;
  }
  .portfolio__text {
    padding: 50px 0;
  }
  .portfolio__text .portfolio__description {
    margin: 0px 0px 5px 0px;
  }
  .portfolio__btn {
    margin: 40px 0px 40px 0px;
  }
}

@media screen and (max-width: 576px) {
  .img__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .portfolio-img__hover {
    padding: 15% 0;
  }
  .portfolio__text {
    padding: 20px 0;
  }
  .portfolio__btn {
    margin: 20px 0px 20px 0px;
  }
}

.team {
  padding: 90px 0;
  background-color: #f5f5f5;
}

.team__hed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__hed .team__title {
  margin: 0px 0px 40px 0px;
}

.team__hed .team__line {
  margin: 0px 0px 40px 0px;
}

.team__hed .team__description {
  max-width: 470px;
  text-align: center;
  margin: 0px 0px 80px 0px;
}

.team-img__conteiner {
  margin: 0px -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-img__conteiner .team__card {
  padding: 0 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.team__img {
  min-height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.team-img__hover {
  padding: 50% 10%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.team-img__hover:hover {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.img-hover__icon {
  width: 55px;
  height: 55px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  text-align: center;
  padding: 10px 0 0 0;
}

.team-card__text {
  padding: 3% 0;
  margin: 30px 0px 0px 0px;
  text-align: center;
  border: 3px solid #000000;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.team-card__text .team-card__name {
  font-size: 24px;
  letter-spacing: 0.05em;
}

.team-card__text .team-card__job {
  font-size: 14px;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 768px) {
  .team {
    padding: 40px 0;
  }
  .team__hed .team__title {
    margin: 0px 0px 20px 0px;
  }
  .team__hed .team__line {
    margin: 0px 0px 20px 0px;
  }
  .team__hed .team__description {
    margin: 0px 0px 30px 0px;
  }
  .team-img__conteiner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team-img__conteiner .team__card:last-child {
    margin: 15px 0px 0px 0px;
  }
  .team-img__conteiner .team__card {
    padding: 0 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .team-card__text {
    margin: 15px 0px 0px 0px;
  }
}

@media screen and (max-width: 576px) {
  .team {
    padding: 20px 0;
  }
  .team-img__conteiner .team__card {
    margin: 15px 0px 0px 0px;
  }
  .team-img__conteiner .team__card {
    padding: 0 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .team-card__text {
    margin: 5px 0px 0px 0px;
  }
}

.client {
  padding: 0 0 60px 0;
  background-color: #1a1a1a;
}

.swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.slide__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide__conteiner .slide__title {
  text-align: center;
  margin: 90px 0px 0px 0px;
  font-size: 24px;
  line-height: 47px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.slide__conteiner .slide__description {
  text-align: center;
  margin: 45px 0px 0px 0px;
  max-width: 700px;
  font-size: 18px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #929292;
}

.slide__conteiner .slide__name {
  font-weight: 400;
  color: #7b6c63;
  text-align: center;
  margin: 60px 0px 60px 0;
}

.swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: solid #ffff 2px;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #ffff;
}

@media screen and (max-width: 768px) {
  .slide__conteiner .slide__title {
    margin: 50px 0px 0px 0px;
  }
  .slide__conteiner .slide__description {
    margin: 25px 0px 0px 0px;
  }
  .slide__conteiner .slide__name {
    font-weight: 400;
    color: #7b6c63;
    text-align: center;
    margin: 40px 0px 60px 0;
  }
}

@media screen and (max-width: 576px) {
  .slide__conteiner .slide__title {
    margin: 30px 0px 0px 0px;
  }
  .slide__conteiner .slide__description {
    margin: 15px 0px 0px 0px;
  }
  .slide__conteiner .slide__name {
    font-weight: 400;
    color: #7b6c63;
    text-align: center;
    margin: 30px 0px 40px 0;
  }
}

.blog {
  padding: 90px 0;
}

.blog__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__head .blog__title {
  margin: 0px 0px 45px 0px;
}

.blog__head .blog__line {
  margin: 0px 0px 40px 0px;
}

.blog__head .blog__description {
  text-align: center;
  max-width: 485px;
  margin: 0px 0px 75px 0px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #212121;
}

.blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img__block {
  max-width: 474px;
  max-height: 270px;
}

.img__block img {
  max-width: 100%;
  max-height: 100%;
}

.card__vertical-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.vertical__cone {
  width: 17px;
  height: 17px;
  background-color: #ebebeb;
  border-radius: 50%;
}

.vertical__line {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 1px;
  height: auto;
  background-color: #ebebeb;
}

.card__text {
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.05em;
  font-size: 16px;
}

.card__text .card__date {
  font-weight: 500;
  color: #7b6c63;
  margin: 0px 0px 15px 0px;
}

.card__text .blog-card__title {
  font-size: 24px;
  color: #212121;
  margin: 0px 0px 20px 0px;
}

.card__text .blog-card__description {
  max-width: 474px;
  color: #949494;
}

.card__text .blog-card__description span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: 700;
  color: #7b6c63;
}

.card__text .blog-card__description p {
  display: none;
}

.blog-card__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
}

.some__line {
  width: 1px;
  max-height: 90px;
  background-color: #ebebeb;
}

.conteiner__hide {
  display: none;
}

.all-post__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all__post {
  padding: 15px 0 0 0;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 74px;
  height: 74px;
  background-color: #7b6c63;
  border-radius: 50%;
  border: solid #ebebeb 4px;
}

.all__post span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .blog {
    padding: 40px 0;
  }
  .blog__head .blog__title {
    margin: 0px 0px 25px 0px;
  }
  .blog__head .blog__line {
    margin: 0px 0px 20px 0px;
  }
  .blog__head .blog__description {
    margin: 0px 0px 35px 0px;
  }
  .blog__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 20px 0px;
    padding: 10px 10px;
    border: solid #ebebeb 1px;
    border-radius: 5px;
  }
  .blog__card:nth-child(odd) .img__block {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .blog__card:nth-child(odd) .card__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .blog__card .img__block {
    margin: 0px 0px 5px 0px;
  }
  .blog__card .card__text .card__date {
    text-align: left;
    margin: 0px 0px 5px 0px;
  }
  .blog__card .card__text .blog-card__title {
    text-align: center;
    margin: 0px 0px 10px 0px;
  }
  .card__vertical-line {
    display: none;
  }
  .blog-card__line {
    display: none;
  }
}

.contact {
  padding: 90px 0;
  background-color: #f5f5f5;
}

.contact__title {
  text-align: center;
  font-size: 40px;
  line-height: 47px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #7b6c63;
}

.contact__form {
  max-width: 770px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.11em;
  color: #5b5b5b;
}

.contact-name-meil__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-name-meil__input input {
  width: 350px;
  background-color: #f5f5f5;
  border-bottom: 3px solid #242424;
}

.contact-name-meil__input p {
  margin: 10px 0px 0px 0px;
}

.input__conteiner {
  margin: 0 auto;
  max-width: 755px;
}

.contact__message input,
.contact__message textarea {
  width: 100%;
  display: block;
  outline: none;
}

.contact__message input {
  margin: 0 auto;
  background-color: #f5f5f5;
  border-bottom: 3px solid #242424;
}

.contact__message p {
  margin: 10px 0px 0px 0px;
}

.contact__line {
  margin: 100px 0px 0px 0px;
  max-width: 769px;
  height: 1px;
  background-color: #242424;
}

.btn-contact__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__btn {
  text-align: center;
  margin: 20px 0px 0px 0px;
  padding: 10px 0 0 0;
  width: 170px;
  height: 45px;
  border: 2px solid #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.contact__btn:hover {
  -webkit-box-shadow: inset 0px 0px 45px 10px #bababa;
          box-shadow: inset 0px 0px 45px 10px #bababa;
}

.contact__btn:active {
  position: relative;
  top: -2px;
}

@media screen and (max-width: 768px) {
  .contact {
    padding: 40px 0;
  }
  .contact__line {
    margin: 50px 0px 0px 0px;
  }
  .contact-name-meil__input {
    display: block;
  }
  .contact-name-meil__input input,
  .contact-name-meil__input textarea {
    width: 100%;
    display: block;
    outline: none;
  }
  .contact-name-meil__input input {
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .contact {
    padding: 20px 0;
  }
  .contact__line {
    margin: 30px 0px 0px 0px;
  }
}

.footer {
  background-color: #1c1c1c;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 63px;
}

.footer__text {
  font-size: 16.2px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 0.11em;
  color: #595959;
}

@media screen and (max-width: 768px) {
  .footer__text {
    text-align: center;
  }
}
